@amarilo: #ffe105;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @amarilo;
  color: black;
   .margenes(50px, 0px); 
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @amarilo;
  .margenes(10px, 8px); 
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); 
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #05ff8a; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 15px;
  background-color: #ff0515; }

.text-center {
  margin-top: 20px; }
